//简单的ajax调用
$.ajax({
    url:window.location.href,
    type:'post',
    data:{searchData:$('input[name="search"]').val()},
    success:function(data){

    }
});

//ajax返回值
async:false

//简单的jsonp例子 url中返回格式定义了用户需要执行的function为jsonCallback
$(function(){
    $.ajax({
      url: "http://run.plnkr.co/plunks/v8xyYN64V4nqCshgjKms/data-2.json",
      dataType: "jsonp"
    });
});
function jsonCallback(json){
    console.log(json);
}

//如果ajax中定义了success 同样也会被执行
success:function(json){
    console.log(json);
}

//指定jsonpCallback: "jsonCallback" php脚本
if(isset($_GET['callback']))
{
   header("Content-Type: application/json");
   echo $_GET['callback'] . '("' . json_encode(['hello'=>'world']) . '")';
}

