//创建一个数据表
create table [if not exists] `country`
(
    `id` int(10)  not null ,
    `name` varchar(30) not null AUTO_INCREMENT,
    `address` varchar(30) null,
    `create_time` datetime not null,
    `status` tinyint(1) not null default 0,
    Primary key(`id`)
)
Engine = innodb
Default character set = utf8
Comment = 'country'

//其他字段类型
tinyint int bigint 
double  float decimal numberic 
date datetime time timestamp
char varchar 
text

//插入一条数据
INSERT INTO `country` VALUES ('AU','Australia',18886000);

//删除一条数据
DELETE FROM `country` where name = 'Beijing';

//创建一个索引
CREATE INDEX code_name on country(code asc,name asc);
