#yii autoload机制
Yii中使用BaseYii::autoload($classname)来按需加载类，
满足以下规则的一种：
1.查找调用的类是不是在Yii::$classMap这个数组中，
你可以参考Yii::$classMap['yii\base\Action'] = FILE_PATH.'/base/Action.php'来注册需要自动加载的类;
FILE_PATH可以是绝对路径，也可以是alias形式(带@)的路径

2.如果不在classmap中但是有命名空间的话，Yii会 默认将namespace(即第一个/前面的部分)加@，
去查getAlias得到的类，如果文件存在即加载
Yii::setAlias('myNamespace',dirname('.').'/path1/myNamespace'); ...该语句将根命名空间和绝对路径关联...

总结，如果想使用yii的自动加载，可以采用注册classMap的方式将use的部分作为键，
文件绝对路径作为值(也可以是已经注册过的alias变量拼接的路径)，或者采用将根命名空间注册为alias的方式，
classmap适合加载单个文件，alias适合整个文件夹的文件都加载


#Yii2自带的19个命名空间及作用[不包含test]，classmap方式加载的类
#用法use yii\base\View;查看classes.php可获得
base    核心基类命名空间
behaviors
capcha  处理验证码
caching
data
db
di
filters
grid
helpers
i18n
log
mail
rbac
mutex
rest
validators
web
widgets

#项目中自带的命名空间，alias方式加载的类,var_dump(Yii::$alias)可获得
@common
@frontend
@backend
@console
@app   默认frontend
@vendor
@runtime
@web   默认为空
@webroot  默认为app下的web目录
@yii ...一个数组，如果查找alias root是数组会继续处理...
@kartik ...一个数组，如果查找alias root是数组会继续处理，extensions.php查看...

#项目中使用的组件，默认制定class
#在yii\base\Application的construct,打印$config
request
response
session
user
urlManager
assetManager
view
errorHandle   ...yii\web...
cache
authManager
log
db
formatter
i18n
mailer
security

#获取module
#在yii\base\Application的construct,打印$config,获取全部modules
Yii::$app->getModule('input');
