#yii自动加载的机制有两种，一种是通过yii类里面的classmap属性注册，一种是yii类里面的alias属性注册
#第一种只能一次加载一个类，第二种alias的可以把整个文件夹下的类都注册了
classmap这边注册的核心命名空间有19种[没有yii\test]
    其中带s的五种，yii\widgets , behaviors ,filters,helpers,validators
    基类命名空间两个yii\base web
    框架都具有的基础性能7个 db data log i18n mail caching capcha
    yii特性的5个 rest auth grid rbac di
另外还有11个alias注册的命名空间
    其中和模块相关的有4个 common frontend backend app
    和目录结构相关的5个 runtime web webroot vendor console
    两个包命名空间 yii kartik
还有yii中核心的component组件有16个
    其中5个和classmap同名的， db cache i18n log maile
    5个比较常用的request response user session view
    3个名字带manager的 urlManager authManager assetManager
    3个不常用的security formatter errorHandle

#yii autoload机制
Yii中使用BaseYii::autoload($classname)来按需加载类，
满足以下规则的一种：
1.查找调用的类是不是在Yii::$classMap这个数组中，
你可以参考Yii::$classMap['yii\base\Action'] = FILE_PATH.'/base/Action.php'来注册需要自动加载的类;
FILE_PATH可以是绝对路径，也可以是alias形式(带@)的路径

2.如果不在classmap中但是有命名空间的话，Yii会 默认将namespace(即第一个/前面的部分)加@，
去查getAlias得到的类，如果文件存在即加载
Yii::setAlias('myNamespace',dirname('.').'/path1/myNamespace'); ...该语句将根命名空间和绝对路径关联...

总结，如果想使用yii的自动加载，可以采用注册classMap的方式将use的部分作为键，
文件绝对路径作为值(也可以是已经注册过的alias变量拼接的路径)，或者采用将根命名空间注册为alias的方式，
classmap适合加载单个文件，alias适合整个文件夹的文件都加载


#Yii2自带的19个命名空间及作用[不包含test]，classmap方式加载的类
#用法use yii\base\View;查看classes.php可获得
base    核心基类命名空间
    常用
    Exception Theme Action Component Model Module Object Behavior DynamicModel Event  Security   Widget
    其他
     ActionEvent ActionFilter  ArrayAccessTrait Arrayable ArrayableTrait  BootstrapInterface  Configurable   ErrorException ErrorHandler   ExitException InlineAction InvalidCallException InvalidConfigException InvalidParamException InvalidRouteException InvalidValueException  ModelEvent  NotSupportedException  UnknownClassException UnknownMethodException UnknownPropertyException UserException  ViewContextInterface ViewEvent ViewRenderer 
web
    常用
    Application AssetBundle AssetManager   Cookie DbSession ErrorAction ErrorHandler IdentityInterface JqueryAsset  Session
    UploadedFile  UrlManager UrlRule User  ViewAction JsExpression
    base也有的
    Controller  View Response Request Application  
    其他
     AssetConverter AssetConverterInterface  BadRequestHttpException CacheSession CompositeUrlRule ConflictHttpException   CookieCollection    ForbiddenHttpException GoneHttpException GroupUrlRule HeaderCollection HtmlResponseFormatter HttpException    JsonParser JsonResponseFormatter Link Linkable MethodNotAllowedHttpException NotAcceptableHttpException NotFoundHttpException  RequestParserInterface  ResponseFormatterInterface ServerErrorHttpException  SessionIterator TooManyRequestsHttpException UnauthorizedHttpException UnsupportedMediaTypeHttpException    UrlRuleInterface  UserEvent   XmlResponseFormatter YiiAsset
behaviors
    AttributeBehavior BlameableBehavior SluggableBehavior TimestampBehavior
capcha  处理验证码
    Captcha CaptchaAction CaptchaAsset CaptchaValidator
caching
    常用
    Cache  FileCache DbCache  DbDependency Dependency ExpressionDependency FileDependency 
    其他
    ApcCache ArrayCache  ChainedDependency    DummyCache    MemCache MemCacheServer TagDependency WinCache XCache ZendDataCache
data
    常用
    ActiveDataProvider ArrayDataProvider Pagination
    其他
    BaseDataProvider  DataProviderInterface  Sort SqlDataProvider
db
    常用
    ActiveRecord ActiveQuery Command  Connection Migration Query QueryBuilder Schema Transaction BaseActiveRecord
    其他
    ActiveQueryInterface ActiveQueryTrait  ActiveRecordInterface ActiveRelationTrait AfterSaveEvent  BatchQueryResult ColumnSchema   DataReader Exception Expression IntegrityException  MigrationInterface    QueryInterface QueryTrait  StaleObjectException TableSchema  mysql|QueryBuilder mysql|Schema
di
    Contain Instan ServiceLocator
filters
    常用
    VerbFilter AccessControl  HttpCache PageCache     
    其他
      AccessRule ContentNegotiator Cors   RateLimitInterface RateLimiter  auth|AuthInterface auth|AuthMethod auth|CompositeAuth auth|HttpBasicAuth auth|HttpBearerAuth auth|QueryParamAuth
grid
    常用
    GridView
    其他
    ActionColu CheckboxColu Colu DataColu GridVi GridViewAss SerialColumn
helpers
    常用
    Html Url StringHelper ArrayHelper Console  FileHelper Json   VarDumper Inflector
    其他 
     BaseArrayHelper BaseConsole BaseFileHelper BaseFormatConverter BaseHtml BaseHtmlPurifier BaseInflector BaseJson BaseMarkdown BaseStringHelper BaseUrl BaseVarDumper   FormatConverter  HtmlPurifier   Markdown   
i18n
    DbMessageSource Formatter GettextFile GettextMessageSource GettextMoFile GettextPoFile I18N MessageFormatter MessageSource MissingTranslationEvent PhpMessageSource
log
    DbTarget Dispatcher EmailTarget FileTarget Logger SyslogTarget Target
mail
    BaseMailer BaseMessage MailEvent MailerInterface MessageInterface
rbac
    常用
    Assignment  Item  Permission Role Rule
    其他
     BaseManager DbManager  ManagerInterface  PhpManager  
mutex
    DbMutex FileMutex Mutex MysqlMutex
rest
    常用
    ActiveController
    其他
    Action  Controller CreateAction DeleteAction IndexAction OptionsAction Serializer UpdateAction UrlRule ViewAction   
validators
    常用
    Validator
    其他
    BooleanValidator CompareValidator DateValidator DefaultValueValidator EachValidator EmailValidator ExistValidator FileValidator FilterValidator ImageValidator InlineValidator NumberValidator PunycodeAsset RangeValidator RegularExpressionValidator RequiredValidator SafeValidator StringValidator UniqueValidator UrlValidator ValidationAsset 
widgets
    常用
    ActiveForm ListView DetailView Menu ActiveField  ActiveFormAsset Block  Breadcrumbs  Pjax PjaxAsset
    其他
    BaseListView   ContentDecorator  FragmentCache InputWidget LinkPager LinkSorter  MaskedInput MaskedInputAsset Spaceless

#项目中自带的命名空间，alias方式加载的类,var_dump(Yii::$alias)可获得
@common
@frontend
@backend
@console
@app   默认frontend
@vendor
@runtime
@web   默认为空
@webroot  默认为app下的web目录
@yii ...一个数组，如果查找alias root是数组会继续处理...
@kartik ...一个数组，如果查找alias root是数组会继续处理，extensions.php查看...

#项目中使用的组件，默认制定class
#在yii\base\Application的construct,打印$config
request
response
session
user
urlManager
assetManager
view
errorHandle   ...yii\web...
cache
authManager
log
db
formatter
i18n
mailer
security

#获取module
#在yii\base\Application的construct,打印$config,获取全部modules
Yii::$app->getModule('input');


